* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

body {
    background-color: hsl(40, 50%, 60%);

}

.structur {
    background-color: hsl(40, 100%, 85%);
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.Wrapper section,
header {
    padding: 20px;
}

.Wrapper {
    background-color: hsl(40, 100%, 85%);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template: "a"
        "b"
        "c"
        "d";
}

header {
    grid-area: a;
    text-align: center;
    padding: 50px;
    font-size: larger;
    font-style: italic;
    font-weight: 100;
    border-bottom: solid 1px hsl(40, 100%, 35%);
}

.PersonalLife p {
    padding-bottom: 10px;
}

.PersonalLife {
    grid-area: b;
    display: grid;
    grid-template: "e f" /1fr 4fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    line-height: 2em;
    align-items: flex-start;
    border-bottom: solid 1px hsl(40, 100%, 35%);
}

#ProfilePic {
    grid-area: e;
    margin-right: 20px;
}

#Biography {
    grid-area: f;
}

.Achievments {
    grid-area: c;
    display: grid;
    grid-template: "g h" /1fr 1fr;
    align-items: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    line-height: 2em;
    border-bottom: solid 1px hsl(40, 100%, 35%);
}

.Achievments h3 {
    text-align: center;
    padding-bottom: 20px;
}

#Movies {
    grid-area: g;
    margin-right: 20px;
}

#Awards {
    grid-area: h;
}

footer {
    grid-area: d;
    text-align: center;
    align-items: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

footer h3 {
    margin-top: 20px;
    padding-bottom: 10px;
}

@media (max-width : 800px) {
    .PersonalLife {
        grid-area: b;
        display: grid;
        grid-template: "e"
            "f" /1fr;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        line-height: 2em;
        align-items: center;
        border-bottom: solid 1px hsl(40, 100%, 35%);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .Achievments {
        grid-area: c;
        display: grid;
        grid-template: "g"
            "h" /1fr;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        line-height: 2em;
        border-bottom: solid 1px hsl(40, 100%, 35%);
        margin-left: 20px;
    }

    footer * {
        padding-bottom: 10px;
    }

}